
<div id="main">
    <div class="header">
        <a routerLink="dashboard" class="Gourmet-au-Catering">
            Vietnamese dishes
        </a>
        <ul class="header-info">
            <li><a routerLink="/about-us">About us</a></li>
            <li><a routerLink="/home">Menu</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/Info">info</a></li>
        </ul>
    </div>
    <div id="slider">
        <h1 class="catering">
            Vietnamese dishes
        </h1>
    </div>
</div>