<section class="bg-gray-50 py-16">
  <div id="content" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="content-section space-y-12">
      <div class="content-about flex flex-col lg:flex-row items-center">
        <div class="content-about-img w-full lg:w-1/2 mb-6 lg:mb-0">
          <img
            src="https://images.unsplash.com/photo-1511910849309-0dffb8785146?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmlldG5hbWVzZSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
            alt=""
            class="w-full h-full object-cover rounded-lg shadow-lg"
          />
        </div>
        <div class="content-about-text w-full lg:w-1/2 px-4">
          <h1 class="text-3xl font-bold text-gray-800 mb-2">About Catering</h1>
          <h5 class="text-xl text-gray-600 mb-4">Tradition since 1889</h5>
          <p class="text-lg text-gray-700 mb-4">
            This Pho recipe has been in the works for a while now. It’s been
            quietly made and remade by various RecipeTin family members since
            our first trip to Vietnam. We’ve compared notes, debated furiously
            about how the latest iteration compared to the (many) bowls of Pho
            soup we slurped during our travels, and our favourite Pho
            restaurants back home here in Sydney.
          </p>
          <p class="text-lg text-gray-700 mb-4">
            The best beef pho broth is made using several different types of
            beef bones. I like to add strictly marrow bones (no meat) and meaty
            bones (bones with meat on them). Try to incorporate a mix of
            knuckles, joints, feet, or marrow bones like leg and shin bones that
            have been cut into smaller pieces. For added flavor incorporate
            meaty bones like oxtail, shank, and short ribs. You can also toss in
            2-3 pounds beef brisket or beef cheek, which adds amazing flavor and
            provides leftover meat for sandwiches and soups.
          </p>
          <p class="text-lg text-gray-700 mb-4">
            The easiest way to thinly slice tender raw beef is to partially
            freeze it before slicing. Careful not to freeze it all the way,
            though! Otherwise, it will be impossible to slice through. It’s also
            helpful to have a recently sharpened knife.
          </p>
        </div>
      </div>
    </div>
    <hr class="my-12 border-gray-300" />
    <div class="content-section space-y-12">
      <div class="content-Menu flex flex-col lg:flex-row items-center">
        <div class="content-about-img w-full lg:w-1/2 mb-6 lg:mb-0">
          <img
            src="https://images.unsplash.com/photo-1571917411767-20545014a0bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHZpZXRuYW1lc2UlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
            alt=""
            class="w-full h-full object-cover rounded-lg shadow-lg"
          />
        </div>
        <div class="content-about-text w-full lg:w-1/2 px-4">
          <h1 class="text-3xl font-bold text-gray-800 mb-4">Our Menu</h1>
          <h4 class="text-xl font-semibold text-gray-800">Bread Basket</h4>
          <p class="text-lg text-gray-700">
            Assortment of fresh baked fruit breads and muffins 5.50
          </p>
          <h4 class="text-xl font-semibold text-gray-800 mt-6">
            Honey Almond Granola with Fruits
          </h4>
          <p class="text-lg text-gray-700">
            Natural cereal of honey toasted oats, raisins, almonds and dates
            7.00
          </p>
          <h4 class="text-xl font-semibold text-gray-800 mt-6">
            Belgian Waffle
          </h4>
          <p class="text-lg text-gray-700">
            Vanilla flavored batter with malted flour 7.50
          </p>
          <h4 class="text-xl font-semibold text-gray-800 mt-6">
            Scrambled eggs
          </h4>
          <p class="text-lg text-gray-700">
            Scrambled eggs, roasted red pepper and garlic, with green onions
            7.50
          </p>
          <h4 class="text-xl font-semibold text-gray-800 mt-6">
            Blueberry Pancakes
          </h4>
          <p class="text-lg text-gray-700">
            With syrup, butter and lots of berries 8.50
          </p>
        </div>
      </div>
      <hr class="my-12 border-gray-300" />

      <div class="content-about flex flex-col lg:flex-row items-center">
        <div class="content-about-img w-full lg:w-1/2 mb-6 lg:mb-0">
          <img
            src="https://media.istockphoto.com/id/1425157125/photo/dark-moody-coffee-drink-photography-vietnamese-condensed-milk-coffee.jpg?b=1&s=170667a&w=0&k=20&c=37BXnBQ9lYFWwKS0h1EhOMX2c7CzKdsEmFvcxu9Kess="
            alt=""
            class="w-full h-full object-cover rounded-lg shadow-lg"
          />
        </div>
        <div class="content-about-text w-full lg:w-1/2 px-4">
          <h1 class="text-3xl font-bold text-gray-800 mb-2">
            Coffee with milk <br />(ca phe nau or ca phe sua)
          </h1>
          <h5 class="text-xl text-gray-600 mb-4">Tradition since 1889</h5>
          <p class="text-lg text-gray-700 mb-4">
            Most people drink the dark, strong brew with sweetened condensed
            milk, a practice that began because the French couldn't easily
            acquire fresh milk. Up to this day, fresh milk is not a common
            ingredient found in traditional coffee shops. You could ask but
            shouldn’t count on it. In the north of Vietnam, the mixture of black
            coffee and sweetened condensed milk is referred to as ca phe nau
            (brown coffee), while in the south it’s called ca phe sua (milk
            coffee). While it is mostly served cold with ice, you can also order
            it hot.
          </p>
          <p class="text-lg text-gray-700">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum consectetur adipiscing
            elit, sed do eiusmod temporincididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
