<div class="heading">
  <h1>{{ title }}</h1>
  <h2>Menu</h2>
</div>
<ul class="heroes">
  <li *ngFor="let foodes of foodes">
    <!-- <button [class.selected]="foodes === selectedFood" type="button" (click)="onSelect(foodes)">
      <span class="badge">{{foodes.id}}</span>
      <span class="name">{{foodes.name}}</span>
      <img src="{{foodes.img}}" alt="">
      <span class="badge">{{foodes.des}}</span>
    </button> -->
    <img routerLink="/home/{{ foodes.id }}" src="{{ foodes.img }}" alt="" />
    <a>
      <p class="badge">{{ foodes.id }}:</p>
      <p>{{ foodes.name }}</p>
    </a>
  </li>
</ul>

<!-- <app-home-details [food]="selectedFood"></app-home-details> -->
